* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.resume-container {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 2.5rem;
    color: #333;
}

.header h2 {
    font-size: 1.5rem;
    color: #777;
}

.contact-info p {
    font-size: 1rem;
    color: #555;
}

.contact-info a {
    color: #1e90ff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.section {
    margin-bottom: 20px;
}

.section h3 {
    font-size: 1.5rem;
    color: #333;
    border-bottom: 2px solid #1e90ff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.skills-list,
.certifications-list,
.projects-list {
    list-style-type: none;
}

.skills-list li,
.certifications-list li,
.projects-list li {
    margin-bottom: 10px;
    font-size: 1rem;
}

.job,
.education {
    margin-bottom: 15px;
}

.job h4 {
    font-size: 1.2rem;
    font-weight: bold;
}

.job p {
    font-size: 1rem;
    color: #777;
}

.projects-list li a {
    font-size: 1rem;
    color: #1e90ff;
    text-decoration: none;
}

.projects-list li a:hover {
    text-decoration: underline;
}